body{
  background-image: url("../images/fundo_about.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%;
}

.about{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.about h1{
  font-size: 3rem;
  margin: 5% auto;
}

.cont_about{
  display: flex;
  align-items: bottom;
  width:75%;
  justify-content: space-between;
  margin-bottom: 10vh;

}
.text{
  width:45%;
  padding: 2% 2% 2% 2%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}


.text h3{
  text-transform: uppercase;
}
.text p{
  font-weight: 500;
  margin-top: 6%;
}
.logo{
  /*height: 10vh;*/
  display: block;
  margin-left: 2%;
  width: 20%;
  margin-bottom: 6%;
  cursor: pointer;
}
/* ------------------ MOBILE ------------------ */
@media screen and (min-width: 300px) 
  and (max-width: 700px){
    
  body{
    height: auto;
    background-image: url("../images/Fundo.png");
  }
  .about{
    padding-top: 12vh;

  }
  .logo{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
  }


  .about h1{
    font-size: 2.2rem;
    width:72%;
  }
  .cont_about{
    flex-direction: column;
    width:90%;
    margin-top : 5% ;
    margin-bottom: 18%;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
  }
  
  .text{
    width: 73vw;
  }

  .text h3{
    font-size: 120%;
    margin: 8% 6% 10% 6%;
  }

  .text p{
    margin-left: 6%;
    margin-right: 6%;
  }

  .cont_about div:first-child{
    margin-bottom: 10vh;}

  .text p{
  font-family: Hind-light;
  }

}