body{
  background-image: url("../images/fundo-faq.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%;
}

.faqs{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  margin-bottom: 10vh;
}

.faqs h1{
  font-size: 3rem;
  margin: 5% auto;
}
#mobile{
  display: none;
}
.cont_faq{
  padding: 2%;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #DFC6FF;
  border-image-slice: 1;
  border-width: 3px;
  box-sizing: border-box;
  border-radius: 8px;
  width:50%;
  margin-bottom: 2%;
  box-shadow: 0px 0px 14px 10px rgba(255, 255, 255, 0.1);
}

 .cont_faq:hover{
   border-color: #ffffff;
  border: double 3px transparent;
  /* background-image: linear-gradient( #1E1A30,#1E1A30 ), radial-gradient(circle at top left, #AC8FEC 0%,#E885A6 100%); */
  background: rgba(255, 255, 255, 0.1);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0px 0px 18px #FFFFFF;transition: 0.3s;
} 

.answer{
  display: none;
}
.cont p{
  font-weight: 600;
}

.question {
  z-index: 2;
  cursor: pointer;
}
.question{
  display: flex;
  justify-content:  space-between;
}
.question p{
  font-family: Hind;
}
.answer p{
  font-weight: Hind-light;
  padding-top: 1%;
}
/* ------------------ MOBILE ------------------ */


@media screen and (min-width: 300px) 
  and (max-width: 900px){
  #question img{
    z-index: 0;
  }
  body{
    height: auto;
    background-image: url("../images/Fundo.png");
  }

  .faqs{
    padding-top: 12vh;
    height: auto;
  }
  .question p{
    width:80%;
  }
  #pc{
    display: none;
    margin: 0;
  }
  #mobile{
    display: block;
    font-size: 2.8em;
    text-align: center;
  }
  .faqs h1{
    margin: 5% auto;
      width:70%;
  }
  .cont_faq{
    width:70%;
    margin-bottom: 4%;
    padding:4%;
  }
  .cont_faq p{
    width:80%;
    font-size: 0.9rem;

  }
  .cont_faq{
border-width:2px;
  }
  .cont_faq:hover{
    border: double 2px transparent;

  }

}
/* ------------------ IPAD ------------------ */
/* @media screen and (min-width: 480px) 
and (max-width: 900px){  
  body{
    background-image: url("../images/fundo-faq.svg");
  }

  #mobile{
    display: block;
    font-size: 2.8em;
    text-align: left;
  }

  #pc{
    display: none;
    margin: 0;
  }

} */
