body{
  background-image: url("../images/fundo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%;
}


/* TIGRE E TEXTO*/
.hero {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient_background {
  width: 100vw;
  height: 100vh;
  /*background-image: url("../images/background-face.png");*/
  background-repeat: no-repeat;
  background-size: cover;
}

#make {
  opacity:1;
  z-index: 2;
  width: 90vw;
  margin: auto;
}

#tiger1 {
  position: absolute;
  left: 26% !important;
  top:-6% !important;
  opacity: 0.9;
  transition: 0.5s;
  width: 46vw;
}

#tiger2 {
  position: absolute;
  left: 26% !important;
  top:-6% !important;
  opacity: 0.7;
  transition: 0.5s;
  width: 46vw;
}

#makeitappen_mobile{
  opacity:0;
  z-index: 2;
}

.hero h1{
  width:100%;
}

/* MAIN */

.bubbles_background {
  /*background-image: url("../images/Fundo.png");*/
  z-index: -2;
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.whole {
  min-height: 85vh;
}

.half {
  min-height: 50vh;
}

.faq{
  display: flex;
  margin-top: 20vh;
}

.prizes, .partner{
  margin-top: 20vh;
}

.content-prizes{
  width:45vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10%;
}

.cont{
  z-index: 1;
}

.cont h1 {
  font-size: 3.4rem;
}

.content-text {
  margin-top: 10%;
  width: 45vw;
}

.content-text p, .cont_faq p {
  font-weight: 10;
}
.content-prizes img{
  width: 95%;
  border: 3px solid #fff;
  border-radius: 8px ;
  
}

/*TITULOS PRINCIPAIS*/
#titles{
  text-align: center;
}

/* PARTNERS */
.partners h2{
  font-size: 2rem;
  margin-top: 5%;
  margin-bottom: 3%;
}
.partner-section{
  display: flex;
  margin-bottom: 15%;
}
.partner-section img:hover{
  cursor: pointer;
}

.partner-section img{
  width: 70%;
}

.diamond-img{
  filter: drop-shadow(0px 0px 100px rgba(103, 146, 255, 0.6));
}

.gold-img{
  filter: drop-shadow(0px 0px 100px #C3912F);
}

.silver-img{
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.4));
}

.bronze-img{
  filter: drop-shadow(0px 0px 100px #AD5F22);
}

/*TITULOS OUTLINE*/
.outline {
  position: relative;
  z-index: 0;
  width:25vw;
  left: -25%;
}
#sa{
  margin-bottom: -7rem;
}

#vintevinteum {
  margin-bottom: -7.5rem;
}



 /* FAQ */
#faq_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#faq_title a{
  color:#EE77D0;
  font-family: Hind, sans-serif;
  font-size: 1.2em;
}

#faq_title a:hover{
  cursor: pointer;
  text-shadow: 0px 0px 18px #7D6AE4;transition: 0.3s;

}

.cont_faq{
  padding: 4%;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #DFC6FF;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 4%;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
}
.answer{
  display: none;
}

.cont_faq:hover{
  border: double 2px transparent;
  background-image: linear-gradient( #1E1A30,#1E1A30 ), radial-gradient(circle at top left, #AC8FEC 0%,#E885A6 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  box-shadow: 0px 0px 18px #7D6AE4;transition: 0.3s;
} 

.question img{
  z-index: 2;
  cursor: pointer;
}

.question{
  display: flex;
  justify-content:  space-between;
}

.question p{
  font-family: Hind;
}
.answer p{
  font-weight: Hind-light;
  padding-top: 1%;
}


.cont #button{
  background: linear-gradient(90deg, #7F45F9 0%, #2131C3 100%);
  border: 2px solid #DFC6FF;
  /*box-sizing: border-box;*/
  border-radius: 10px;
  /*text-align: right;*/
  line-height: 400%;
  padding:1.5vh 3vw;
  width: 10vw;
  transition: background 1s ease;
}

#button_see_more{
  text-align: right;
}

.cont #button:hover{
  background: linear-gradient(90deg, #AB00E7 0%, #FFB26A 100%);
}

/* NEWSLETTER */
#txt_newsletter{
  font-weight: 600;
  margin-top:  5%;
}

#mc_embed_signup_scroll{
  display: flex;
  justify-content: space-between;
}

#mce-EMAIL {
  background: rgba(53, 46, 51, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0px 0px 10px;;
  height: 7vh;
  color:white;
  font-size: 0.9rem;
  padding: 0 2vw;
  width:34vw;
  border: 2px solid #DFC6FF;
  box-sizing: border-box;
}

#mc-embedded-subscribe {
  background: linear-gradient(90deg, #7F45F9 0%, #2131C3 100%);
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.46);
  border-radius: 0px 10px 10px 0px;;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  font-family: Poppins-bold;
  height: 7vh;
  padding: 0 3vw;
  margin-right: 0;
  border: 2px solid #DFC6FF;
  box-sizing: border-box;
}

#mc-embedded-subscribe:hover{
  box-shadow: 0px 0px 18px #7D6AE4;transition: 0.3s;
}

#mc-embedded-subscribe:focus {
  outline: none;
}

/* ------------------ MOBILE ------------------ */
@media screen and (max-width: 325px){
    
#makeitappen_mobile{
  width:80vw;
}

}

@media screen and (max-width: 600px){

.gradient_background {
  background-image: url("../images/background1_mobile.png");
}
.bubbles_background {
  background-image: url("../images/Fundo_index_mobile.png");
}

#make{
  opacity: 0;
}
#makeitappen_mobile{
  opacity: 1;
  padding-top: 110%;
  min-width: 80vw;
  margin:auto;
}
#tiger1 {
  margin-top: 25%;
  left: 1% !important;
  width: 100vw;
}
#tiger2 {
  margin-top: 25%;
  left: 0% !important;
  width: 100vw;
}

.whole{
  min-height: 100vh;
}

.half{
  min-height:50vh;
}

.faq{
  margin-top: 10vh;
}
.content-prizes{
  display: block;
  width: 70vw;
}
.content-prizes img{
  width:80%;
  margin-bottom: 10%;
}
.partner{
  min-height:60vh;
  margin-top: 20vh;
}
.cont h1{
  font-size: 1.9em;
  margin-bottom: 25%;
}
.content-text h2{
  font-size: 1.3em;
}

.outline{
width:40vw;
}

#sa{
  margin-bottom: -3rem;
}

#vintevinteum {
  margin-bottom: -3rem;
}

#faq_title{
  width: 70vw;
  font-size: 0.8em;
}

.content-text p , button{
  font-weight: 400;
  font-size: 0.8rem;
}

.content-text, #content-gallery, .content-text-news{
  margin-top: 10%;
  width: 70vw;
}

.cont_faq{
  padding:2vh 4vw;
}
.partner-section{
  display: block;
}

.partner-section img{
  width: 35%;
}

/*.diamond img{
  width: 40%;
}
.gold img{
  width:40%;
}
.silver img{
  width:40%;
}
.bronze img{
  width:40%
}*/


#mc_embed_signup_scroll {
  flex-direction: row;
  display: flex;
  align-items: center;
}

#mce-EMAIL{
  width: 100%;
  height:7vh;
  opacity: 0.9;
}
#mc-embedded-subscribe{
  width:100%;
  height: 7vh;
  font-size: 0.9rem;
}

}

/* ------------------ IPAD ------------------ */
@media screen and (min-width: 600px)and (max-width: 1030px){ 

 .bubbles_background {
  background-image: url("../images/background_index_mobile.png");
}
#tiger1 {
  left: 0% !important;
  top:0 !important;
  width: 100vw;
}
#tiger2 {
  left: 0% !important;
  top:0 !important;
  width: 100vw;
}

.content-text {
  width: 60vw;
}
.whole{
  min-height: 70vh;
}
.half{
  min-height:35vh;
}
.partner{
  min-height: 70vh;
}

#mc_embed_signup_scroll {
  flex-direction: row;
}
#mce-EMAIL{
  width: 120%;
  height:5vh;
  opacity: 0.9;
}
#mc-embedded-subscribe{
  margin-left: 20%;
  border-radius: 16px;
  width:120%;
  height: 5vh;
  font-size: 0.9rem;
}

}

