
/*
.partner-section #partner-2:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-3:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-4:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-5:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-6:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-7:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-8:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-9:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-10:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-11:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-12:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-13:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-14:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-15:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-16:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-17:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-18:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-19:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-20:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-21:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-22:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-23:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-24:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-25:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-26:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-27:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-28:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-29:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-30:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-31:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-32:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-33:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-34:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-35:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-36:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-37:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-38:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
*/