.partner-section #partner-1 {
  background-image: url("../images/partners/Accenture.svg");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 65%;
}

.partner-section #partner-2 {
  background-image: url("../images/partners/arcade.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 65%;
}

.partner-section #partner-3 {
  background-image: url("../images/partners/Associação_Académica_de_Coimbra_logo.svg");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-4 {
  background-image: url("../images/partners/bolasberlim.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-5 {
  background-image: url("../images/partners/cm.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 65%;
}

.partner-section #partner-6 {
  background-image: url("../images/partners/Logo-Comboios-de-Portugal.svg");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 65%;
}

.partner-section #partner-7 {
  background-image: url("../images/partners/critical.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-8 {
  background-image: url("../images/partners/deloitte.jpg");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 65%;
}

.partner-section #partner-9 {
  background-image: url("../images/partners/dei.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-10 {
  background-image: url("../images/partners/DigitalOcean_logo.svg");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-11 {
  background-image: url("../images/partners/dreampills.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-12 {
  background-image: url("../images/partners/esabic.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-13 {
  background-image: url("../images/partners/fctuc.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 70%;
}

.partner-section #partner-14 {
  background-image: url("../images/partners/feedzai-seeklogo.com.svg");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-15 {
  background-image: url("../images/partners/flag.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-16 {
  background-image: url("../images/partners/github.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-17 {
  background-image: url("../images/partners/goodbarber.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-18 {
  background-image: url("../images/partners/gulbenkian.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-19 {
  background-image: url("../images/partners/ipn.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-20 {
  background-image: url("../images/partners/lifeonmars.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 65%;
}

.partner-section #partner-21 {
  background-image: url("../images/partners/licor.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-22 {
  background-image: url("../images/partners/luso.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-23 {
  background-image: url("../images/partners/microsoft.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 65%;
}

.partner-section #partner-24 {
  background-image: url("../images/partners/novabase.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-25 {
  background-image: url("../images/partners/outsystems-seeklogo.com.svg");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 65%;
}

.partner-section #partner-26 {
  background-image: url("../images/partners/redbull.jpg");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 65%;
}

.partner-section #partner-27 {
  background-image: url("../images/partners/redlight.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-28 {
  background-image: url("../images/partners/revolut.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-29 {
  background-image: url("../images/partners/sketch-1.svg");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-30 {
  background-image: url("../images/partners/sportscaffe.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-31 {
  background-image: url("../images/partners/stratio.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-32 {
  background-image: url("../images/partners/subvisual.svg");
  background-size: 30%;
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-33 {
  background-image: url("../images/partners/talkdesk.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 65%;
}

.partner-section #partner-34 {
  background-image: url("../images/partners/tisystems.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 40%;
}

.partner-section #partner-35 {
  background-image: url("../images/partners/uc.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
   background-size: 65%;
}

.partner-section #partner-36 {
  background-image: url("../images/partners/unbabel.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-37 {
  background-image: url("../images/partners/whitesmith.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}

.partner-section #partner-38 {
  background-image: url("../images/partners/wit.png");
  -webkit-filter: grayscale(1);
   filter: grayscale(1);
}
.partner-section a:hover{
   box-shadow: 0px 0px 18px #7D6AE4;

}
.partner-section #partner-1:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));

}
.partner-section #partner-2:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-3:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-4:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-5:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-6:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-7:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-8:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-9:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-10:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-11:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-12:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-13:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-14:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-15:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-16:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-17:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-18:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-19:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-20:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-21:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-22:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-23:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-24:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-25:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-26:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-27:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-28:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-29:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-30:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-31:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-32:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-33:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-34:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-35:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-36:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-37:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
.partner-section #partner-38:hover {
   filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.75));
}
